# Binarios de Java de proyecto Eclipse
Desarrollo/bin/

# Salida obtenida al ejecutar la prueba
Ejecucion de la Prueba/Salida Obtenida/

# Preparación de la Prueba
Preparacion de la Prueba/Lote de Prueba/