# Binarios de Java de proyecto Eclipse
Desarrollo/bin/

# Salida obtenida al ejecutar la prueba
Ejecución de la Prueba/Salida Obtenida/

# Preparación de la Prueba
Preparación de la Prueba/Lote de Prueba/